<div data-controller="navbar">
  <div id="navbar" class="navbar navbar-loquence">
    <div class="navbar-top">
      <div class="menu-item d-flex">
        <%= cl_image_tag "https://res.cloudinary.com/dkol9v93b/image/upload/v1560392641/m11ki8czfvb2hgxaol7e.png", class: "avatar-square" %>
        <h4 class="avatar-name">Kiwana LLC</h4>
      </div>
    </div>
    <div class="menu-navigation">
      <div class="menu-item">
        <%= link_to reports_path, class: "d-flex" do %>
          <i class="fas fa-th-large"></i> <h4>Reports</h4>
        <% end %>
      </div>
      <div class="menu-item">
        <%= link_to "#", class: "d-flex" do %>
          <i class="fas fa-chart-pie"></i> <h4>Widgets</h4>
        <% end %>
      </div>
      <div class="menu-item">
        <%= link_to settings_path, class: "d-flex" do %>
          <i class="fas fa-cog"></i> <h4>Settings</h4>
        <% end %>
      </div>
    </div>
    <div class="menu-item d-flex mb-3">
      <%= cl_image_tag(current_user.photo, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar") %><h4 class="avatar-name"><%= current_user.first_name %><%= current_user.last_name %></h4></div>
  </div>
</div>


