<div id="top-navbar" class="d-flex justify-content-between align-items-center pt-3 px-4" data-controller="navbar">
    <div></div>
    <h1 class="report-title text-center m-0"><%= title.upcase %></h1>
    <div>
      <div class="btn-group">
        <i id="btn-go-fullscreen" class="fas fa-expand btn-icon scale-on-hover highlight-on-hover py-1 px-3 clickable" data-action='click->navbar#toggleFullscreen'></i>
        <i id="btn-exit-fullscreen" class="fas fa-compress btn-icon scale-on-hover highlight-on-hover py-1 px-3 clickable hidden" data-action='click->navbar#toggleFullscreen'></i>
        <button type="button" class="widget-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars btn-icon scale-on-hover highlight-on-hover py-1 px-3 clickable"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to new_report_path do %>
            <div id="menu-item-new-report" class="menu-item">
              <p class="m-0"><i class="far fa-plus-square mr-2"></i>Create new report</p>
            </div>
          <% end %>
          <% if @report && @report.persisted? %>
            <%= link_to edit_report_path(@report), remote: true do %>
              <div id="menu-item-edit-report" class="menu-item d-flex justify-content-between align-items-center">
                <p class="m-0">Edit report</p>
                <%#= render 'shared/switch' %>
              </div>
            <% end %>
            <%= link_to "#", data: { toggle: "modal", target: "#shareModal" } do %>
              <div id="menu-item-new-report" class="menu-item">
                <p class="m-0">Share</p>
              </div>
            <% end %>
            <%= link_to "#" do %>
              <div id="menu-item-new-report" class="menu-item">
                <p class="m-0">Export / Print</p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<% if @report && @report.persisted? %>
  <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content widget box-highlight-white">
        <div class="modal-header">
          <h5 class="modal-title text-black" id="shareModalLabel">Share this report</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= @report.name %>
          <p>Invite people to view this report</p>
          <%= simple_form_for [@report, ReportAccess.new], html: { data: { controller: "select" } } do |f| %>
            <%= f.association :user, label: false, label_method: :email, value_method: :id, include_blank: false, input_html: { class: "select2" }, prompt: "Enter a user or team name..." %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit "Share", class: "btn" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @report && @report.persisted? %>
  <%= link_to edit_report_path(@report), remote: true do %>
    <div id="editFloatingButton" class="box-highlight-white">
        <div id="floating-button-edit-report" class="menu-item d-flex justify-content-between align-items-center">
          <p class="m-0">Done editing</p>
          <%= render 'shared/switch' %>
        </div>
    </div>
  <% end %>
<% end %>



