<div class="grid-item m-2 colspan-<%= widget.grid_item_position.split(" / ").last.split(" ").last %>" data-widget-id="<%= widget.id %>" style="grid-area: <%= widget.grid_item_position %>;">
  <div class="widget">
    <div class="widget-header d-flex justify-content-between">
      <h5><%= widget.name %></h5>
      <div class="btn-group widget-edit-icons">
        <%= link_to edit_widget_path(widget), class: "menu-item menu-item-edit-widget", remote: true do %>
          <i class="fas fa-edit btn-icon scale-on-hover highlight-on-hover py-1 px-2 clickable" data-widget-id="<%= widget.id %>" data-action="click->dashbuilder#editWidget"></i>
        <% end %>
        <%= link_to widget_path(widget), method: :delete, class: "menu-item menu-item-delete-widget", remote: true do %>
          <i class="fas fa-trash-alt btn-icon scale-on-hover highlight-on-hover py-1 px-2 clickable"></i>
        <% end %>
      </div>
      <div class="btn-group widget-filter-menu">
        <button type="button" class="widget-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-layer-group btn-icon scale-on-hover highlight-on-hover py-1 px-2 clickable"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= render 'widgets/filters', widget: widget %>
        </div>
      </div>
    </div>

    <div class="ctn-kpi" data-controller="load-animation chartkick">
      <% partial = "kpis/#{widget.kpi.query}" %>
      <%= render partial: partial, locals: { widget: widget } %>
    </div>
  </div>
</div>
