<div class="grid-item" data-widget-id="<%= widget.id %>" style="grid-area: <%= widget.grid_item_position %>;">
  <div class="widget">
    <div class="widget-header d-flex justify-content-between">
      <h5><%= widget.name %></h5>
      <div class="btn-group">
        <button type="button" class="widget-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v btn-icon scale-on-hover highlight-on-hover py-1 px-2 clickable"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to "Delete widget", widget_path(widget), method: :delete, class: "menu-item", remote: true %>
        </div>
      </div>


    </div>

    <div class="ctn-kpi" data-controller="load-animation chartkick">
      <% partial = "kpis/#{widget.kpi.query}" %>
      <%= render partial: partial, locals: { widget: widget } %>
    </div>
  </div>
</div>
