<%= column_chart [
  {
    name: 'One-time customers', stack: 'stack1', data: KPI.orders_count(interval: "month")
  },
  {
    name: 'Repeat customers', stack: 'stack1', data: KPI.fake_repeat_customers(interval: "month")
  }],
  stacked: true
%>

<!-- <div class="p-3 w-100 h-100" data-chartname="repeatCustomersChart">
  <canvas
    id="repeat_customers_chart"
    style="width: 80%; height: 80%"
    data-widgetid="<%= widget.id %>"
    data-cumul="<%= [75, 80, 85, 115, 142].to_json %>"
    data-amazonnewcustomer="<%= [5, 10, 5, 30, 5].to_json %>"
    data-amazonrepeatcustomer="<%= [40, 35, 20, 5, 7].to_json %>"
    data-shopifynewcustomer="<%= [10, 5, 25, 40, 70].to_json %>"
    data-shopifyrepeatcustomer="<%= [20, 30, 35, 40, 60].to_json %>"
  ></canvas>
</div> -->
