<div class="mb-4">
  <% repeat_buyer_rate = ((Buyer.repeat_buyers.to_f / KPI.total_customers) * 100).round(1) %>
  <div>
    <% (repeat_buyer_rate / 5.0).round.times do %>
      <i class="fa fa-user highlight"></i>
    <% end %>
    <% ((100 - repeat_buyer_rate) / 5.0).round.times do %>
      <i class="fa fa-user highlight-white"></i>
    <% end %>
  </div>
  <div>
    <h5>
      <%= render partial: "shared/animated_number", locals: { value: Buyer.repeat_buyers, format: 'integer', suffix: ' customers', spanclass: 'highlight' } %> <small>ordered more than once</small>
    </h5>
  </div>
</div>

<div class="chart position-relative absolute-centering mb-4 w-100 h-100">
<%= pie_chart KPI.send(widget.kpi.query),
  colors: ['#00D7C0', '#0E6E63'],
  library: {
    borderColor: ['#00D7C0', '#128F80'],
    donut: true,
    legend: false,
    cutoutPercentage: 70
  }
%>
<div class="absolute-centering flex-column">
    <h3 class="highlight text-center m-0">
      <%= render partial: "shared/animated_number", locals: { value: repeat_buyer_rate, format: 'percent' } %>
    </h3>
    <p class="highlight-white">repeat customers</p>
  </div>
</div>

<div>
  <p>Average purchase frequency</p>
  <div class="d-flex w-100 justify-content-around">
    <div class="text-center w-100">
      <h4 class="highlight-white">
        <%= render partial: "shared/animated_number", locals: { value: KPI.avg_purchase_frequency_between(DateTime.now - 60), format: 'float', suffix: 'x' } %>
      </h4>
      <small>last 60 days</small>
    </div>
    <div class="text-center w-100">
      <h4 class="highlight-white">
        <%= render partial: "shared/animated_number", locals: { value: KPI.avg_purchase_frequency, format: 'float', suffix: 'x' } %>
      </h4>
      <small>all-time</small>
    </div>
  </div>
</div>

