<div class="text-center mb-4">
  <h3 class="highlight-white">
    <%= render partial: "shared/animated_number", locals: { value: 3342543, format: 'JPY' } %></h3>
  <p>so far this month</p>

</div>

<div class="chart position-relative mb-4 h-100 w-100">
 <div class="absolute-centering h-100 w-100">
  <%= pie_chart [['Revenue', 3342543], ['Remaining to goal', 4000000 - 3342543]],
    colors: ['#00D7C0', '#0E6E63'],
    library: {
      borderColor: ['#00D7C0', '#0E6E63'],
      donut: true,
      legend: false,
      cutoutPercentage: 70
    }
  %>
 </div>
  <div class="absolute-centering flex-column">
    <h3 class="highlight text-center m-0">
      <%= render partial: "shared/animated_number", locals: { value: ((3342543 / 4000000.0) * 100).round(1), format: 'percent' } %>
      </h3>
    <p>of monthly goal</p>
    <small>¥4,000,000</small>
  </div>
</div>

<div class="text-center">
  <h5>Revenue growth</h5>
  <div class="d-flex w-100 justify-content-around">
    <div class="text-center w-100">
      <h4 class="highlight-white"><%= render partial: "shared/animated_number", locals: { value: 3.2, format: 'percent', prefix: '+' } %></h4>
      <small>previous month</small>
    </div>
    <div class="text-center w-100">
      <h4 class="highlight-white"><%= render partial: "shared/animated_number", locals: { value: 6.3, format: 'percent', prefix: '+' } %></h4>
      <small>previous year</small>
    </div>
  </div>
</div>
