<div class="text-center mb-4">
  <h2 class="highlight"><%= Order.group(:buyer_id).count.size %></h2>
  <small class="highlight-white">total unique customers</small>
</div>

<p class="mb-3">New unique customers</p>

<div class="d-flex w-100 justify-content-around mb-4">
  <div>
    <h4 class="highlight-white">+<%= Order.where("purchase_date >= ?", (Date.today - 36) - 7).pluck(:buyer_id).uniq.count %></h4>
    <small>last 7 days</small>
  </div>
  <div>
    <h4 class="highlight-white">+<%= Order.where("purchase_date >= ?", (Date.today - 36) - 30).pluck(:buyer_id).uniq.count %></h4>
    <small>last 30 days</small>
  </div>
</div>

<p class="mb-3">Customer base growth</p>

<div class="d-flex w-100 justify-content-around">
  <div>
    <h4 class="highlight-white"><%= (Order.where("purchase_date >= ?", (Date.today - 36) - 7).pluck(:buyer_id).uniq.count).fdiv((Order.all.pluck(:buyer_id).uniq.count)-(Order.where("purchase_date >= ?", (Date.today - 36) - 7).pluck(:buyer_id).uniq.count)).floor(2)%>%</h4>
    <small>last 7 days</small>
  </div>
  <div>
    <h4 class="highlight-white"><%= (Order.where("purchase_date >= ?", (Date.today - 36) - 30).pluck(:buyer_id).uniq.count).fdiv((Order.all.pluck(:buyer_id).uniq.count)-(Order.where("purchase_date >= ?", (Date.today - 36) - 30).pluck(:buyer_id).uniq.count)).floor(2)%>%</h4>
    <small>last 30 days</small>
  </div>
</div>
