<div class="text-center mb-4">
  <h2 class="highlight">
    <%= render partial: "shared/animated_number", locals: { value: Buyer.unique_buyers_total, format: 'integer' } %>
    </h2>
  <small class="highlight-white">total unique customers</small>
</div>

<p class="mb-3">New unique customers</p>

<div class="d-flex w-100 justify-content-around mb-4">
  <div>
    <h4 class="highlight-white">
      <%= render partial: "shared/animated_number", locals: { value: Order.between(Order.last_order_date - 7*60*60*24).pluck(:buyer_id).uniq.count, format: 'integer', prefix: '+' } %>
        </h4>
    <small>last 7 days</small>
  </div>
  <div>
    <h4 class="highlight-white">
      <%= render partial: "shared/animated_number", locals: { value: Order.between(Order.last_order_date - 30*60*60*24).pluck(:buyer_id).uniq.count, format: 'integer', prefix: '+' } %>
    </h4>
    <small>last 30 days</small>
  </div>
</div>

<p class="mb-3">Customer base growth</p>

<div class="d-flex w-100 justify-content-around">
  <div>
    <h4 class="highlight-white">
      <%= render partial: "shared/animated_number", locals: { value: Buyer.unique_buyers_between(Order.last_order_date - 7 * 60 * 60 * 24).fdiv(Buyer.unique_buyers_total - Buyer.unique_buyers_between(Order.last_order_date - 7 * 60 * 60 * 24)), format: 'percent' } %>
    </h4>
    <small>last 7 days</small>
  </div>
  <div>
    <h4 class="highlight-white">
      <%= render partial: "shared/animated_number", locals: { value: Buyer.unique_buyers_between(Order.last_order_date - 30 * 60 * 60 * 24).fdiv(Buyer.unique_buyers_total - Buyer.unique_buyers_between(Order.last_order_date - 30 * 60 * 60 * 24)), format: 'percent' } %>
    </h4>
    <small>last 30 days</small>
  </div>
</div>
