<div class="container ctn-widgets pt-5">
  <div class="row widget-row">
    <div class="ctn-widget col-xl-6">
      <%= render partial: 'shared/widget', locals: { template: "kpis/repeat_customers" } %>
    </div>
    <div class="ctn-widget col-xl-3">
      <%= render partial: 'shared/widget', locals: { template: "kpis/number_of_items_sold" } %>
    </div>
    <div class="ctn-widget col-xl-3">
      <%= render 'shared/widget' %>
    </div>
  </div>
  <div class="row widget-row">
    <div class="ctn-widget col-lg-12">
      <%= render 'shared/widget' %>
    </div>
  </div>
  <div class="row widget-row">
    <div class="ctn-widget col-xl-4">
      <%= render 'shared/widget' %>
    </div>
    <div class="ctn-widget col-xl-4">
      <%= render 'shared/widget' %>
    </div>
    <div class="ctn-widget col-xl-4">
      <%= render 'shared/widget' %>
    </div>
  </div>
  <div class="row widget-row">
    <div class="ctn-widget col-lg-6">
      <%= render 'shared/widget' %>
    </div>
    <div class="ctn-widget col-lg-6">
      <%= render 'shared/widget' %>
    </div>
  </div>
</div>
