<div class="container ctn-widgets pt-5">
  <div class="row widget-row">
    <div class="ctn-widget col-xl-6">
      <%= render 'widgets/widget_revenuep' %>
    </div>
    <div class="ctn-widget col-xl-3">
      <%= render 'widgets/widget' %>
    </div>
    <div class="ctn-widget col-xl-3">
      <%= render 'widgets/widget' %>
    </div>
  </div>
  <div class="row widget-row">
    <div class="ctn-widget col-lg-12">
      <%= render 'widgets/widget' %>
    </div>
  </div>
  <div class="row widget-row">
    <div class="ctn-widget col-xl-4">
      <%= render 'widgets/widget' %>
    </div>
    <div class="ctn-widget col-xl-4">
      <%= render 'widgets/widget' %>
    </div>
    <div class="ctn-widget col-xl-4">
      <%= render 'widgets/widget' %>
    </div>
  </div>
  <div class="row widget-row">
    <div class="ctn-widget col-lg-6">
      <%= render 'widgets/widget' %>
    </div>
    <div class="ctn-widget col-lg-6">
      <%= render 'widgets/widget' %>
    </div>
  </div>
</div>
