<div class="container ctn-widgets pt-5">
  <div class="row widget-row">
    <div class="ctn-widget col-xl-6">
      <%= render partial: 'shared/widget', locals: { kpi: "best_seller", title: "Best sellers", display_type: "column_chart" } %>  gozdaaaaaaaaaaaaaa
    </div>
    <div class="ctn-widget col-xl-3">
      <%= render partial: 'shared/widget', locals: { kpi: "repeat_customers", title: "Returning customers"} %>
    </div>
    <div class="ctn-widget col-xl-3">
      <%= render partial: 'shared/widget', locals: { kpi: "repeat_customers", title: "Returning customers"} %>
    </div>
  </div>
  <div class="row widget-row">
    <div class="ctn-widget col-lg-12">
      <%= render partial: 'shared/widget', locals: { kpi: "repeat_customers", title: "Returning customers" } %>
    </div>
  </div>
  <div class="row widget-row">
    <div class="ctn-widget col-xl-4">
      <%= render partial: 'shared/widget', locals: { kpi: "slow_mover", title: "Slow mover" } %>
    </div>
    <div class="ctn-widget col-xl-4">
      <%= render partial: 'shared/widget', locals: { kpi: "repeat_customers", title: "Returning customers" } %>
    </div>
    <div class="ctn-widget col-xl-4">
      <%= render partial: 'shared/widget', locals: { kpi: "repeat_customers", title: "Returning customers" } %>
    </div>
  </div>
  <div class="row widget-row">
    <div class="ctn-widget col-lg-6">
      <%= render partial: 'shared/widget', locals: { kpi: "repeat_customers", title: "Returning customers" } %>
    </div>
    <div class="ctn-widget col-lg-6">
      <%= render partial: 'shared/widget', locals: { kpi: "repeat_customers", title: "Returning customers" } %>
    </div>
  </div>
</div>
