<h2>All users</h2>
<table class="settings-table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Team(s)</th>
      <th scope="col">Role(s)</th>
      <th scope="col">Last sign in</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><i class="fas fa-user-edit mr-3 highlight-on-hover scale-on-hover btn-icon"></i></th>
      <td>Trouni T.</td>
      <td>trouni@loquence.co</td>
      <td>Sales, Marketing, Customer Support</td>
      <td>Owner</td>
      <td>17:23</td>
    </tr>
    <tr>
      <th scope="row"><i class="fas fa-user-edit mr-3 highlight-on-hover scale-on-hover btn-icon"></i></th>
      <td>Alex R.</td>
      <td>alex@loquence.co</td>
      <td>Marketing, IT</td>
      <td>Editor</td>
      <td>Jun 2, 2019</td>
    </tr>
    <tr>
      <th scope="row"><i class="fas fa-user-edit mr-3 highlight-on-hover scale-on-hover btn-icon"></i></th>
      <td>Saad A.</td>
      <td>saad@loquence.co</td>
      <td>Sales, Customer Support</td>
      <td>Editor</td>
      <td>May 18, 2019</td>
    </tr>
    <tr>
      <th scope="row"><i class="fas fa-user-edit mr-3 highlight-on-hover scale-on-hover btn-icon"></i></th>
      <td><%="#{User.last.first_name}  #{ (User.last.last_name || [""])[0].upcase }"%></td>
      <td>eugene@loquence.co</td>
      <td>Sales, Marketing</td>
      <td>Editor</td>
      <td>May 28, 2019</td>
    </tr>
  </tbody>
</table>

<div class="mt-sm-2">
  <%=simple_form_for User.new, url: settings_path do |f|%>
  <%= f.error_notification %>
  <div class="form-container">
    <div class="mr-sm-2">
      <%= f.input :first_name, :placeholder => 'First name', label: false, input_html: { class: "mb-2 mr-sm-2" }  %>
    </div>
    <div class="mr-sm-2">
      <%= f.input :last_name, :placeholder => 'Last name', label: false, input_html: { class: "mb-2 mr-sm-2" } %>
    </div>
    <div class="mr-sm-2">
      <%= f.input :email, :placeholder => 'email', label: false, input_html: { autocomplete: 'email' }, input_html: { class: "mb-2 mr-sm-2" }  %>
    </div>
    <div class="mr-sm-2">
      <%= f.button :button, class:"btn btn-outline-light form-control" do %>
      <i class="fas fa-user-plus"></i>
      Add a new user
      <% end %>
    </div>
  </div>
  <% end %>
</div>
