<h2>All users</h2>
<table class="settings-table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Team(s)</th>
      <th scope="col">Role(s)</th>
      <th scope="col">Last sign in</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><i class="fas fa-user-edit mr-3 highlight-on-hover scale-on-hover btn-icon"></i></th>
      <td>Trouni T.</td>
      <td>trouni@loquence.co</td>
      <td>Sales, Marketing, Customer Support</td>
      <td>Owner</td>
      <td>17:23</td>
    </tr>
    <% User.all.each do |user| %>
    <tr>
      <th scope="row">

        <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
          <i class="fas fa-user-edit mr-3 highlight-on-hover scale-on-hover btn-icon"></i>
        </a>
    </th>
    <td><%="#{user.first_name}  #{ (user.last_name || [""])[0].upcase }."%></td>
    <td><%= user.email %></td>
    <%  groups = user.groups.where("group_type != 'user'")%>
    <%  comma = "@"if groups.length > 1 %>
    <td>
      <% groups.each do |group| %>
      <%= "#{group.name}#{comma}" || "" %>
      <% end %>
    </td>
    <td><%= ("Owner" if user.admin) || "Editor"%></td>
    <td><%= Date.today - rand(1..5) %></td>
  </tr>
  <% end %>
</tbody>
</table>

<div class="mt-sm-2">
  <%=simple_form_for User.new, url: settings_path do |f|%>
  <%= f.error_notification %>
  <div class="form-container">
    <div class="mr-sm-2">
      <%= f.input :first_name, :placeholder => 'First name', label: false, input_html: { class: "mb-2 mr-sm-2" }  %>
    </div>
    <div class="mr-sm-2">
      <%= f.input :last_name, :placeholder => 'Last name', label: false, input_html: { class: "mb-2 mr-sm-2" } %>
    </div>
    <div class="mr-sm-2">
      <%= f.input :email, :placeholder => 'email', label: false, input_html: { autocomplete: 'email' }, input_html: { class: "mb-2 mr-sm-2" }  %>
    </div>
    <div class="mr-sm-2">
      <%= link_to settings_path do%>
      <%= f.button :button, class:"btn btn-outline-light form-control" do %>
      <i class="fas fa-user-plus"></i>
      Add a new user
      <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
