<div class="container platform-container vh-100">
  <div class="row h-100 align-content-center justify-content-center">
    <h3 class="highlight-white">Which sales platform would you like to connect?</h3>
    <div class="row align-content-center justify-content-center platforms supported-platforms">
      <div class="col-12" data-controller="category-selector">
        <%= link_to wizard_path(:setup_platform) do %>
          <%= image_tag "logos/amazon.png", alt: "Amazon", class: "logo category"%>
          <%= image_tag "logos/woocommerce.png", alt: "WooCommerce", class: "logo category", style: "margin-top: -5px" %>
          <%= image_tag "logos/shopify.png", alt: "Shopify", class: "logo category", style: "margin-top: -15px" %>
          <%= image_tag "logos/bigcommerce.png", alt: "BigCommerce", class: "logo category", style: "margin-top: -18px" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
