<%= render 'shared/dashboard', title: "Edit: #{@report.name}" do %>
  <%= link_to "Done", @report, class: "btn btn-outline-light box-highlight-white mx-4" %>
  <div id="edit-report-layout" class="zone w-100" data-controller="dashbuilder load-animation">
    <div class="list-group ctn-widgets grid-layout">
      <% @report.widgets.each do |widget| %>
        <%= render partial: 'widgets/grid_item', locals: { widget: widget } %>
    <% end %>
    <% (1..15).to_a.each do |row| %>
      <% (1..12).to_a.each do |col| %>
        <div class="list-group-item grid-edit-item" data-row="<%= row %>" data-col="<%= col %>" style="grid-area: <%= row %> / <%= col %>" data-target="dashbuilder.gridEditItem"></div>
      <% end %>
    <% end %>
    </div>
  </div>
<% end %>
<div id="new-widget-template" class="grid-item hidden">
  <div class="widget">
    <div class="widget-header d-flex justify-content-between">
      <h5>New widget</h5>
      <i class="far fa-times-circle btn-close scale-on-hover highlight-on-hover py-1 px-2 clickable"></i>
    </div>

    <div class="ctn-kpi justify-content-center">
      <h3>Select a KPI</h3>
      <%= simple_form_for [@report, Widget.new], remote: true do |f| %>
          <%= f.input :grid_item_position, as: :hidden %>
          <%= f.association :kpi, input_html: { class: 'select2-dashbuilder', data: { action: "dashbuilder#newWidgetSubmit" } }, label: false %>
          <%= f.submit class: "hidden" %>
      <% end %>
    </div>
  </div>
</div>
