<%= render 'shared/dashboard' do %>
  <div id="settings-container" class="container pt-5">
    <div class="row pt-5">
      <div class="col-12">
        <h1 class="py-5 highlight-white">Reports</h1>
        <% @reports.each do |report| %>
          <%# image_name = report.name.gsub(" ","_").downcase %>
          <div class="card-report widget">
            <%= link_to report do %>
              <div class="card-report-content">
                <div>
                  <%= image_tag Report::RANDOMIMAGES.sample, alt: "alttext" %>
                  <%#= image_tag "index_#{image_name}.png" %>
                </div>
                <div style="padding: 10px">
                  <h4 class="font-weight-bold pt-1 pl-1"><%=report.name%></h4>
                  <p class="pl-1"><%= report.description %></p>
                </div>
                <div style= "flex-grow: 1;">
                </div>
                <div>
                  <p class="pl-1" style="margin-top: 100px; padding-right: 10px;">Last updated <%= time_ago_in_words(report.most_recent_widget_date) %> ago</p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
